@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Arial Black fallback';
    src: url("./fonts/Arial Black.ttf");
}

body {
    overflow-x: hidden;
}

header * {
    transition: all 0.2s ease-in-out;
}