@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Arial Black fallback";
  src: url("./fonts/Arial Black.ttf");
}

body {
  overflow-x: hidden;
}

header *,
footer * {
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
}

p {
  margin-top: 0.7rem;
}
